.card{
  height: 240px;
  border-radius: 15px;
  border-width: 0px;

  &_top{
    height: 35px !important;
    padding-right: 20px;
    img{
      height: 50px;
      width: 50px;
      background-size: cover;
      float: right;
    }
  }

  &_bottom{
     background: $dark-blue;
     height: 205px !important;
     border-radius: 15px !important;
     padding: 20px;
     border: 10px solid $dark-blue;

    &_type{
      position:relative;
      &_title{
        color: white;
        font-weight: 500;
        font-size: 20px;
      }
      &_images{
        position:absolute;
        bottom: 0;
        right:0;
        img{
          background: url("./../../../../public/images/icon-ellipsis.svg");
          background-size: cover;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          margin-left: 2px;
        }
      }
    }

    &_hours{
      //line-height: 10% !important;
      p{
        font-size: 45px;
        color: white;
        font-family: rubik, monospace;
        font-weight: 300 !important;
      }
      h1{
        margin-top: -8%;
        font-size: 16px;
        color: $desaturated-blue;
        font-family: rubik, monospace;
        font-weight: 700 !important;
      }
    }
  }
}