//Setting the color here does not work for mobile view , set it at the body
.main{
  //background: $very-dark-blue;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  &_back{
    &_top{
      height: 200px !important;

      @media only screen and (max-device-width: 480px) {
        height: 50px !important;
        width: 100% !important;
      }
    }
  }
}

