@import 'colors';
@import 'main/main';
@import "profile/profile";
@import "card/card";
@import "../../../foundation/css/app.css";
@import "../../../foundation/css/foundation.css";

@font-face {
  font-family: 'rubik';
  src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf') format("truetype");
  font-weight: 300;
}

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}